---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
	const examples = await getCollection("examples");
	return examples.map((example) => ({
		params: { example: example.id },
		props: { example },
	}));
}

const { example } = Astro.props;

const { packageName } = example.data;
const exampleName = example.id.split(`${packageName}/`).at(-1)!;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="color-scheme" content="dark light" />
		<title>{example.data.displayName} – StrataKit examples</title>
	</head>
	<body>
		<example-preview example-name={exampleName} package-name={example.data.packageName}
		></example-preview>
		<script>
			import { ExamplePreview } from "../../components/ExamplePreview.tsx";
			import { createRoot } from "react-dom/client";
			import { createElement } from "react";

			customElements.define(
				"example-preview",
				class extends HTMLElement {
					connectedCallback() {
						const exampleName = this.getAttribute("example-name");
						const packageName = this.getAttribute("package-name");
						if (!exampleName || !packageName) return;

						createRoot(this).render(
							createElement(ExamplePreview, { exampleName, packageName, withRoot: true }),
						);
					}
				},
			);
		</script>
	</body>
</html>

<style>
	example-preview {
		display: contents;
	}
	html {
		scrollbar-gutter: stable;
	}
	body {
		padding: 16px;
	}
	:global(.flex) {
		display: flex;
		gap: 8px;
	}
	:global(.stack) {
		display: grid;
		gap: 8px;
	}
</style>
